.wrapper{
	width:945px;
	height:2500px;
	background-color:#f78181;
	position:relative;
}
.error{
	color: #ffffff;
	font-family:'Pontano Sans', sans-serif;
	font-size: 16px; 
	border:1px solid #f3a1a1;
	border-radius:5px;
	background: #f3a1a1;
	display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    position:absolute;
    right: 45%;
    top: 28%;
}

.content{
	width: 350px;
}
.content-formelements{
	width: 700px;
}
.left-content{
	float: left;
	width: 45%;
	margin-right: 20px;
}
.right-content{
	float: right;
	width: 45%;
	margin-left: 20px;
}

h1, span, label{
	color: #ffffff;
	font-family: 'Pontano Sans', sans-serif;
	font-weight: 400;
}
label{
	font-size:16px;
}

.logo{
	padding-top: 142px;
	padding-bottom: 110px;
	text-align: center;
}
.logo img {
	width: 25px;
	height: 50px;
	display: inline;
}
.logo h1 {
	display: inline;
}
.logo span{
	font-weight: bold;
}
input, select {
	outline: none;
}

.input-border-styled{
	height: 52px;
	width: 97%;
	padding-left: 20px;
	color:#aaaaaa;
	font-family: 'Pontano Sans', sans-serif;
	font-size: 16px;
	border: none;
}

.input-icon-styled{
	height: 52px;
	width: 85%;
	color:#aaaaaa;
	font-family: 'Pontano Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	border: none;
	padding-left: 20px;
}

.border{
	width: 3%;
	background-color: #f3a1a1;
	float: left;
	height: 52px;
}
.icon-user{
	width: 15%;
	height: 52px;
	background-color: #f3a1a1;
	background-image: url('images/icon-user.png');
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}
.icon-password{
	width: 15%;
	height: 52px;
	background-color: #f3a1a1;
	background-image: url('images/password-icon.png');
	background-size: 30px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}
.input-wrapper {
	box-shadow: 0 1px 3px #bc7575;
	height: 52px;
	margin-bottom: 20px;
	width: 320px;
}


.submit-options,.login-options{
	margin-left: -4px;
}
 #save-password {
	margin-left: 25px;
}
.optionsradio{
	margin-top: 20px;
	margin-left: -4px;
}
.optionsradio label{
	display: block;
}

input[type="checkbox"], input[type="radio"]{
	opacity: 0;
	width: 0;
	height: 0;
}
input[type="checkbox"] + label, input[type="radio"] + label{
	padding: 10px 0 8px 45px; 
	cursor: pointer;
}
input[type="checkbox"] + label{ 
	background:url('images/icon-checkbox.png') left no-repeat; 
	background-size: 40px;
}
input[type="checkbox"]:checked + label{ 
	background:url('images/checkbox-check-icon.png') left  no-repeat;
	background-size: 40px; 
}
input[type="radio"] + label{
	background:url('images/radio-icon.png') left  no-repeat; 
	background-size: 40px;
}
input[type="radio"]:checked + label{
	background:url('images/radio-check-icon.png') left no-repeat;
	background-size: 40px; 
}
input[type="submit"] { 
	width: 320px;
	height: 52px;
	margin-top: 20px;
	box-shadow: 0 1px 3px  #bc7575;
	border: solid 1px #f3a1a1; 
	color: #ffffff;
	background-color: #f3a1a1;
	font-size: 20px;
	font-family: 'Pontano Sans', sans-serif;
	font-weight: 700;
}
ul{
	list-style-type: none;
}
.menu{
	width: 320px;
	position: relative;
}
.wrapper-menu{
	box-shadow: 0 2px 3px #bc7575;
	height: 52px;
	width: 320px;
	border: 1px solid #C19696;
	border-right: 0;
	border-left: 0;
	border-top: 1px solid #E8A1A1;
}
.icon-menu{
	width: 20%;
	height: 52px;
	background-color: #f3a1a1;
	background-image: url('images/menu-icon.png');
	background-size: 30px;
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	float: left;
}
.menu-head{
	height: 52px;
	width: 80%;
	background-color: #ffffff;
	padding-left: 70px;
	font-size: 20px;
	font-family: 'Pontano Sans', sans-serif;
	font-weight: 700;
	color: #909090;
	line-height: 52px;
	display: inline-block;
}
.menu-list{
	display: block;
	position: absolute;
	width: 320px;
	visibility: hidden;
	background: #ffffff;
	box-shadow: 0 1px 3px #bc7575;
	-moz-box-shadow:inset 0 0 5px #C1B7B7;
	-webkit-box-shadow: inset 0 0 5px #C1B7B7;
	box-shadow:inset 0 0 5px #C1B7B7;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}
.menu-list p{
	color:#909090;
	border-bottom: 1px solid  #eaeaea;
	padding-left: 20px;
	width: 80%;
	display: inline-block;
	line-height: 52px;
	margin:0;
}
.profile, .messages, .photos, .videos, .settings {
	background-size: 5px;
	display: block;
	float:left;
	width: 20%;
	height: 52px;
	border-right:  1px solid  #eaeaea;
}
.profile{
	background: url('images/profile-icon.png') no-repeat center;
}
.messages{
	background: url('images/messages-icon.png') no-repeat center;
}
.photos{
	background: url('images/photo-icon.png') no-repeat center;
}
.videos{
	background: url('images/video-icon.png') no-repeat center;
}
.settings{
	background: url('images/settings-icon.png') no-repeat center;
}
.menu a {
	font-family: 'Pontano Sans', sans-serif;
    font-weight: 400;
    color: #909090;
    text-decoration: none;
}
.nr-messages{
	color:#ffffff;
	background-color: #f3a1a1;
	border-radius:5px;
	padding: 0px 10px;
	float: right;
	line-height: 26px;
	margin-top: 15px;
	margin-right: 20px;
}
.s-hidden{
	visibility: hidden;
	padding-right: 10px;
}
.select {
    cursor:pointer;
    position:relative;
    width: 320px;
	line-height: 52px;
    margin-bottom: 20px;
	color:#aaaaaa;
	font-family: 'Pontano Sans', sans-serif;
	font-size:16px;
}
.styledSelect {
	position:absolute;
	top:0;
	width: 320px;
	height: 52px;
	box-shadow: 0 1px 3px #bc7575;
	background-image: url('images/select.png'), linear-gradient(to right, #f3a1a1 0%,#f3a1a1 15%,#ffffff 15%,#ffffff 100%); 
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 65px;
}
.styledSelect:active, .styledSelect.active {
	background-image: url('images/open-select.png'), linear-gradient(to right, #f3a1a1 0%,#f3a1a1 15%,#ffffff 15%,#ffffff 100%);
}
.options {
	display:none;
	position:absolute;
	right:0;
	left:47px;
	z-index:999;
	margin:0 0;
	padding:0 0;
	background-color:white;
	box-shadow:inset 0 0 5px #C1B7B7;
}
.options li {
	padding-left:20px;
	line-height: 42px;
	font-size: 14px;
	border-bottom: 1px solid #ccc;
}
.options li:hover {
	background:linear-gradient(to right, #f3a1a1 0%,#f3a1a1 2%,#ffffff 2%,#ffffff 100%); 
	box-shadow:inset 0 0 5px #C1B7B7;
}

.timeline{
	width: 700px;
	margin-top: 40px;
}
.left-timeline{
	width: 20%;
	float: left;
}

.data{
	float: left;
}
.day{
	font-weight: bold;
	display: block;
	font-size: 26px;
}
span.month{
	font-size: 16px;
}
.circle{
	border-radius:50%;
	width: 35px;
	height: 35px;
	background-color: #ffffff;
	border: 5px solid #f9a6a6;
	display: inline-block;
	margin-left: 20px;
	margin-top: 5px;
}

.right-timeline{
	width: 80%;
	float: right;
}
.timeline-message{
	background-color: #ffffff;
	border-left: 6px solid #f3a1a1;
	display: inline-block;
	margin-bottom: -5px;
}
.timeline-icon{
	background-image: url('images/timeline-icon.png');
	width: 20%;
	background-repeat: no-repeat;
	height: 90px;
	float: left;
	margin-left: 20px;
}
.message{
	float: left;
	width: 70%;
	text-align: justify;
}
.reply-content{
	height: 48px;
	margin-left: 6px;
}

input[type="text"].reply { 
	width:85%; 
	height: 52px;
	border:none;
	padding-left: 10px;
	float: left;
	margin: 0;
	box-shadow: inset 0px 2px 6px 0px rgba(193,183,183,1);
}
.message h2, .message p{
	color: #a1a1a1;
	font-family:'Pontano Sans', sans-serif; 
}

input[type="submit"].reply-send{
	width: 15%;
	background-image: url('images/reply.png');
	background-position:  center;
	background-size: 25px;
	background-repeat:  no-repeat; 
	float: right;
	margin: 0;
	box-shadow: inset 0px 2px 6px 0px #d38c8c;
}

.styled-link{
	display: inline-block;
	width: 320px;
	height: 52px;
	line-height: 52px;
	text-align: center;
	background-color:  #f3a1a1;
	box-shadow: 0 1px 3px #bc7575;
	border: solid 1px #f3a1a1;
	color:#ffffff;
	font-family: 'Pontano Sans', sans-serif;
	font-size: 20px;
	font-weight: 700;
	margin-top: 20px;
	cursor: pointer;
}
.styled-link:hover{
	text-decoration: none;
	color: #f3a1a1;
	background-color: #B57575;
	border: solid 1px #9C6B6B;
	box-shadow: 0 1px 3px #5C4141;
}
.logout{
	font-family: 'Pontano Sans', sans-serif;
    font-weight: 800;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 40px;
    text-align: center;
}
.logout:hover, .logout:focus {
    color: #909090;
    text-decoration: none;
}




